<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .form-group{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    input{
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">회원가입</label>
            <input type="text" id="name" name="name" placeholder="아이디를 입력하세요.">
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요.">
            <input type="text" id="nickname" name="nickname" placeholder="이름을 입력해주세요">
            <input type="text" id="info" name="info" placeholder="간단한 자기소개를 해주세요">
            <input type="text" id="email" name="email" placeholder="이메일을 입력해주세요">
            <input type="text" id="p_numer" name="p_number" placeholder="전화번호를 입력해주세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>