<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    #wrapper{
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <form id="wrapper" action="/a" method="post">
            <input type="text" id="id" name="name" placeholder="아이디를 입력해주세요">
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요">
            <button type="submit" >로그인</button>
            <a href="/members/new">회원 가입</a>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>
